<section class="location-section">
    <h2 class="loc-text">Bizning manzil</h2>
    <div class="location-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3030.6266193782953!2d71.12819407601872!3d40.57192197141515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDM0JzE4LjkiTiA3McKwMDcnNTAuOCJF!5e0!3m2!1suz!2s!4v1738751394843!5m2!1suz!2s" 
        width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
      <div class="location-details">
        <h3>Farg'ona</h3>
        <img src="images/dubai.webp" alt="">
        <p><strong>Manzil:</strong> Buvayda , Alimergan ko'chasi</p>
        <p><strong>Mo'ljal:</strong> ‘Bahor‘ to'yhonasi yaqinida</p>
        <p><strong>Ish vaqti:</strong> 08:00 - 18:00</p>
        <p><strong>Telefon:</strong> +998 91 056 27 12</p>
      </div>
    </div>
  </section>
  