<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<footer>
    <h1>Bizning ijtimoiy tarmoqlar</h1>
    <div class="socials">
        <i class="fab fa-instagram" onclick="window.open('https://www.instagram.com/otabek.m__/')"></i>
        <i class="fab fa-telegram" onclick="window.open('https://t.me/Otabek_writing')"></i>
        <i class="fab fa-youtube" onclick="window.open('https://www.youtube.com/@Mr.Otabek')"></i>
        <i class="fab fa-linkedin" onclick="window.open('https://www.linkedin.com/in/mr-otabek-13a3aa275/')"></i>
        <i class="fab fa-github" onclick="window.open('https://github.com/OtabekgithubJava')"></i>
    </div>
</footer>