<section class="welcome-section">
    <div class="welcome-text">
      <img src="images/dubai.webp" alt="">
    </div>
    <div class="consultation-form">
      <!-- <h2>Bepul konsultatsiya</h2> -->
      <p>Telefon raqamingizni yozib qoldiring, biz sizga qo‘ng‘iroq qilamiz va savolingiz javobsiz qolmaydi.</p>
      <form>
        <input type="text" placeholder="Ismingiz" required />
        <input type="tel" placeholder="+998" required />
        <label>
          <input type="checkbox" required /> Shaxsiy ma'lumotlarni qayta ishlanishiga roziman
        </label>
        <button type="submit">So‘rov yuborish</button>
      </form>
    </div>
  </section>
  