<nav>
    <h2 class="main-text">Nima uchun “Abu-tech”da o'qish kerak?</h2>
    <div class="container">
        <div class="card">
            <i class="fas fa-laptop-house"></i>
            <h4>Bepul kovorking</h4>
            <p>Kunduzi to'liq ishlaydigan bepul kovorking va wifi.</p>
        </div>
        <div class="card">
            <i class="fas fa-chalkboard-teacher"></i>
            <h4>Sifatli ta'lim</h4>
            <p>Doimiy yangilanib boradigan kurslar va katta tajribaga ega ustozlar.</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <i class="fas fa-trophy"></i>
            <h4>Doimiy musobaqalar</h4>
            <p>Dasturlash va ingliz tili sohalari bo‘yicha sovrinli musobaqalar.</p>
        </div>
        <div class="card">
            <i class="fas fa-microphone-alt"></i>
            <h4>Bepul mahorat darslari</h4>
            <p>Kunlik darslardan tashqari, online ta'limga vaucher.</p>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <i class="fas fa-briefcase"></i>
            <h4>Ish taklif yo'naltirish kafolati</h4>
            <p>“Abu-tech” intensiv kurslarni muvaffaqiyatli bitirgan o‘quvchilarga ish taklif yo'naltirish kafolatini beradi.</p>
        </div>
        <div class="card">
            <i class="fas fa-award"></i>
            <h4>Sertifikat</h4>
            <p>Kursni muvaffaqiyatli tamomlagan o‘quvchilar rag'batlantiriluvchi sertifikatlar ega bo'ladi.</p>
        </div>
    </div>
</nav>
