<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<nav class="about-section">
  <h2 class="kata-text">“Abu-tech“ bu -</h2>
  <div class="cards">
    <div class="card">
      <i class="fas fa-school"></i>
      <p>Dasturlash, ingliz tili va IELTS kabi zamonaviy kasblar o‘rgatiladigan markaz.</p>
    </div>
    <div class="card">
      <i class="fas fa-chalkboard-teacher"></i>
      <p>Zamonaviy kasblar yordamida insonlar hayotini yaxshilovchi va kelajakka bo‘lgan ishonchni mustahkamlovchi maskan.</p>
    </div>
    <div class="card">
      <i class="fas fa-users"></i>
      <p>Bir vaqtning o‘zida 100lab o‘quvchilar va katta jamoani bir maskanga yig‘a olgan ta‘lim va innovatsiya markazi.</p>
    </div>
  </div>
</nav>